.DS_Store
applet
application.linux-arm64
application.linux-armv6hf
application.linux32
application.linux64
application.windows32
application.windows64
application.macosx
out
/sketch_231107a/inputs/arkham/
/sketch_231107a/inputs/lotr/
/sketch_231107a/inputs/marvel/
/sketch_231107a/inputs/minicards/
/sketch_231107a/outputs/